html, body {
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.yathScreen {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    padding: 5%;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.yathScreen--visible {
    display: block;
}

.yathClickable:not(button):not(input) {
    cursor: pointer;
    color: #1245ed;
}

.yathClickable:not(button):not(input):hover {
    text-decoration: underline;
}