.screenEdit {
  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    padding: 80px;
    z-index: 1000;
  }

  &__content {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-height: 90%;
    overflow: auto;

    label {
      font-weight: bold;
      display: block;
      margin: 2px;
    }

    input, textarea {
      font-family: monospace;
      display: block;
      width: 100%;
      padding: 5px;
      border: 1px solid #e3e3e3;
      border-radius: 2px;
      box-sizing: border-box;
    }

    textarea {
      min-height: 150px;
      resize: vertical;
    }

    table {
      width: 100%;
      margin: 5px;
      border-collapse: collapse;
      border: 1px solid #e3e3e3;
    }

    tr {
      background-color: #fff;

      &:nth-child(2n) {
        background-color: #e3e3e3;
      }
    }

    th {
      background-color: #000;
      color: #fff;
    }

    td {
      padding: 3px;
      text-align: center;
    }
  }

  &__submit {
    font-size: 1.3rem;
    float: right;
  }

  &__addChoice {
    font-size: 1.2rem;
  }
}